/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
     box-sizing: border-box;
   }
   *, *:before, *:after {
     box-sizing: inherit;
   }


/* Article Styling */
article {
    width: 900px;
    margin: auto;
}

.post-copy-left {
    width: 28em;
    float: left;
    padding: 1em;
}

.post-copy-right {
    width: 28em;
    float: right;
    padding: 1em;
}

.post-images-right {

}

.copy-3column li{
  width: 16em;
  height: 35em;
  padding: 1em 2em;
  display: inline-block;
  float: left;
  border-right: 1px solid black;
}

.copy-3column li:last-child {
  border-right: none;
}

.article-bg-img {
  position: relative;
}

.title-box {
  width: 18em;
  position: absolute;
  top: 1em;
  right: 1em;
  margin: 0;
  overflow: hidden;
  padding: 1em;
  background-color: #818382;
}

h2 {
    font-size: 2em;
    text-align: center;
    padding: 1em;
    margin: 0;
}

img {
    float: left;
}

.clearfix {
    clear: both;
}


/*Header Styling*/

header {
    width: 100%;
    height: 50.5em;
    background-color: #c0c0c0;
}

.header-copy {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 7em;
    padding: 0;
    margin: 0;
    line-height: 1em;
}

.header-subtitle {
    margin: 0;
}



/* Main-Nav */
.nav-icon {
    position: absolute;
    right: 1em;
    top: 1.35em; 
    display: block;
    font-family: 'fontawesome';
    cursor: pointer;
    opacity: 1;
    }

.main-nav {
    display: none;
    background-color: #010101;
    line-height: 2em;
}

.main-nav ul {
    margin-top: 1.5em;
    list-style-type: none;
    position: relative;
    padding: 2em;
   }

.main-nav li {
    margin: .5em;
   }

.main-nav a{
    color: white;
    text-decoration: none;
   }

.main-nav .close-icon {
    font-style: normal;
    position: absolute;
    top: 0.9rem;
    right: 1em;
    line-height: 1;
    color: white;
    cursor: pointer;
   }

.main-nav li {
    position: relative;
   }

/* nav-open
    when the navigation sidebar is open
   */
.nav-open {
    overflow: hidden;
   }

.nav-open .main-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    min-height: 100%;
    z-index: 100;
   }

.nav-open .page-content {
    transform: translateX(50%);
   }

.nav-open .main-content {
    margin: 0;
    padding: 0;
   }

.sub-nav a{
    color: white;
    text-decoration: none;
}

/*Sub-Nav*/

.sub-nav {
    width: 100%;
    height: 10em;
    background-color: hsla(129, 1%, 50%, .95);
    position: absolute;
    top: 41em;
}

.sub-nav ul {
    list-style-type: none;
    max-width: 75em;
    margin: 1em auto;
}

.sub-nav li {
    width: 10em;
    padding: 0 1em 0 1em;
    float: left;
    text-align: center;
    font-size: .9em;
}

/* Previous and Next buttons came from http://www.w3schools.com/howto/howto_js_slideshow.asp */
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

        /* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

        /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/*footer*/







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
